<div class="row" >
  <div class="col-md-12 text-center">
  <h2>What Kind of Burger would you like to make?</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <input type="input" id="burger_name" placeholder="Name Da Burger!" name="burger_name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name Da Burger!'" >
    <input type="hidden" name="devoured" value="0">
  </div>
  <button type="submit" class="btn btn-success">Make Da Burger!</button>
</form> 
  </div>
</div>
<div class="row" >
  <div class="col-md-6 text-center">
  <h2><u>READY TO DEVOUR!</u></h2>
<ol type="1">
  {{#each burger}}
    {{#unless this.devoured}}
      <h2><li>
        {{this.burger_name}}<form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="btn btn-success">EAT DA BURGER!</button>
        </form></h2>
      </li>
    {{/unless}}
  {{/each}}
</ol>
  </div>
  <div class="col-md-6 text-center">
  <h2><u>DEVOURED BURGERS!</u></h2>
<ol type="1">
  {{#each burger}}
    {{#if this.devoured}}
      <span class="devoured"><li>
        {{this.burger_name}}
      </li></span>
    {{/if}}
  {{/each}}
</ol>
  </div>
</div>

